html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

  background-color: #ffffff;
  width:100% !important;

  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

table td, table tr {
  border-collapse: collapse;
  padding: 0;
}

table.section.header {
  border-bottom: 1px solid #575759;
}
table.section {
  background-color: #2e2e30;
  width: 100%;
  text-align: center;
}
table.section.alt {
  background-color: #444447;
}

img {
  display: block !important;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: none;
  height: auto;
  line-height: 100%;
  vertical-align: bottom;
}

p {
  padding: 0;
  margin: 0;
}

br {
  line-height: 0 !important;
}

div, p, span, strong, b, em, i, a, li, td {
  -webkit-text-size-adjust: none;
}

.b-letter__body {
  background: #cccccc !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.js-phone-number, .highlight-phone {
  color: #ffffff !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 640px) {
  body {
    width: auto !important;
  }

  table[class="container"], td[class="container"], img[class="container"] {
    width: 100% !important;
  }

  table[class="remove"] {
    display: none !important;
  }

  td[class="gallery-container"] {
    display: block !important;
    width: 100% !important;
  }

  td[class="align-center"] {
    text-align: center !important;
  }

  td[class="remove-container"] {
    display: none !important;
  }

  td[class="indent"] {
    padding: 0 10px !important;
  }

  table[class="remove-float"] {
    float: none !important;
  }

  img[class="social"] {
    width: 50px !important;
  }
}

.ReadMsgBody {
  width: 100%;
  background-color: #ffffff;
}

.ExternalClass {
  width: 100%;
  background-color: #ffffff;
}

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%;
}

